<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la Página Principal</h1>
        <p>Has iniciado sesión correctamente.</p>
        <a href="{{ url_for('logout') }}" class="logout-btn">Cerrar Sesión</a>
    </div>
</body>
</html>
