<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <form method="POST" action="{{ url_for('register') }}">
                <input type="text" name="username" class="input-field" placeholder="Nombre de Usuario" required>
                <input type="email" name="email" class="input-field" placeholder="Correo" required>
                <input type="password" name="password" class="input-field" placeholder="Contraseña" required>
                <input type="checkbox" class="check-box"><span>Acepto Terminos y Condiciones</span>
                <button type="submit" class="submit-btn">Registrar</button>
            </form>
        </div>
    </div>
</body>
</html>
